<!DOCTYPE html> 
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'> 
    <meta http-equiv='X-UA-Compatible' content='IE=9' />
    <title><%- head.title %></title>
	
    <link href='/css/1/minified.css' rel='stylesheet'>
    <script src='/js/1/minified.js'></script>
  </head>
  <body>
    <div data-role='page' data-theme='a' data-id=''>
      <%- partial('app/partials/_header') %>	
      <div data-role='content' class='ui-content'>	
        <%- body %>
      </div>
      <%- partial('app/partials/_footer') %>
    </div>
  </body>
</html>