<li data-icon='star' data-theme='c'>
  <a href='/items/<%- item._id %>' class="<%- (!item.premium && item.wisdom > locals.wisdom) ? 'ui-disabled' : '' %><%- item.premium ? 'premium' : ''%>">
    <img src='apple-touch-icon.png' />
    <h3><%- item.name %></h3>
    <% if (item.premium ) { %>
      <p>Purchase for <strong><%- item.facebook.price %></strong> Facebook Credits</p>
    <% } else { %>
      <p>Purchase this tile with <strong><%- item.wisdom %></strong> wisdom</p>
    <% } %>
  </a>
</li>