.hidden {
visibility:none;	
}

#hud.ui-header .ui-title {
margin: .6em 20px .8em;
}

.ui-dialog .ui-header {
margin-top: 15px;
}

.ui-li-aside {
padding-right:5px;	
}

.ui-footer .ui-navbar ul {
height:70px;
line-height:50px;
}
.ui-footer .ui-navbar .ui-btn-text {
font-size:16px;
}

.ui-header .ui-title fieldset {
margin-right:10px;
}

.ui-dialog .ui-header, 
.ui-dialog .ui-content, 
.ui-dialog .ui-footer { 
  max-width: 700px;
}

.ui-dialog .ui-content {
  min-height:250px;	
}

.ui-dialog form .ui-navbar {
margin-bottom:15px;
}