<div data-role='header' data-id='main-header' data-title=''>
  <% if (locals.map) { %>
    <a href="" data-rel="dialog" data-icon="star" data-role='button'>Starry Wisdom Bazaar</a>
  <% } %>
  <h1>Arkham Triune</h1>
  <% if (locals.map) { %>
    <form id='restart' action='<%- '/maps/' + locals.map._id %>' method='delete' style='display:inline' class="ui-btn-right">
      <input id='restart-button' type="submit" data-icon="refresh" value='Restart Town' />
    </form>
  <% } %>

</div>
<%- locals.map ? partial('app/partials/_hud') : '' %>