<div id='hud' data-role='header' data-id='sub-header' data-title=''>
  <h2>	
	<fieldset data-role='controlgroup' data-type='horizontal' style='float:left'>
      <input type='radio' name='tile' id='tile-radio-label' disabled='disabled' data-theme='c' />
      <label for='tile-radio-label' data-theme='c'>Active</label>

      <input type='radio' name='tile' id='tile-radio-input' disabled='disabled' data-theme='c' checked='checked' />
      <label id='next-tile' for='tile-radio-input' data-theme='c'>
        <%- locals.map.nextTile ? locals.map.nextTile.name : '. . .' %>
      </label>
    </fieldset>

	<fieldset data-role='controlgroup' data-type='horizontal' style='float:left'>
      <input type='radio' name='abeyant' id='abeyant-radio-label' disabled='disabled' data-theme='c' />
      <label for='abeyant-radio-label' data-theme='c'>Suspended</label>

      <input type='radio' name='abeyant' id='abeyant-radio-input' disabled='disabled' data-theme='c' checked='checked' />
      <label id='abeyant-tile' for='abeyant-radio-input' data-theme='c'>
        <%- locals.map.abeyantTile ? locals.map.abeyantTile.name : '. . .' %>
      </label>
    </fieldset>

	<fieldset data-role='controlgroup' data-type='horizontal' style='float:right'>
      <input type='radio' name='score' id='score-radio-label' disabled='disabled' />
      <label for='score-radio-label'>Score</label>

      <input type='radio' name='score' id='score-radio-input' disabled='disabled' />
      <label for='score-radio-input'><%= locals.map.score %></label>
    </fieldset>

	<fieldset data-role='controlgroup' data-type='horizontal' style='float:right;'>
      <input type='radio' name='wisdom' id='wisdom-radio-label' disabled='disabled' />
      <label for='wisdom-radio-label'>Wisdom</label>

      <input type='radio' name='wisdom' id='wisdom-radio-input' disabled='disabled' />
      <label for='wisdom-radio-input'>100</label>
    </fieldset>
  </h2>
</div>