<div id='hud' data-role='header' data-id='sub-header' data-title=''>
  <h2>	
	<fieldset data-role='controlgroup' data-type='horizontal' style='float:left'>
      <input type='radio' name='tile' id='tile-radio-label' disabled='disabled' data-theme='c' />
      <label for='tile-radio-label' data-theme='c'>Placing</label>

      <input type='radio' name='tile' id='tile-radio-input' disabled='disabled' data-theme='c' checked='checked' />
      <label id='next-tile' for='tile-radio-input' data-theme='c'>
        <%- locals.map.nextTile ? locals.map.nextTile.name : '. . .' %>
      </label>
    </fieldset>

	<fieldset data-role='controlgroup' data-type='horizontal' style='float:left'>
      <input type='radio' name='suspended' id='suspended-radio-label' disabled='disabled' data-theme='c' />
      <label for='suspended-radio-label' data-theme='c'>Suspended</label>

      <input type='radio' name='suspended' id='suspended-radio-input' data-theme='a' />
      <label id='suspended-tile' for='suspended-radio-input' data-theme='a'>
        <%- locals.map.suspendedTile ? locals.map.suspendedTile.name : '. . .' %>
      </label>
    </fieldset>

	<fieldset data-role='controlgroup' data-type='horizontal' style='float:right'>
      <input type='radio' name='score' id='score-radio-label' disabled='disabled' data-theme='d' />
      <label for='score-radio-label' data-theme='d'>Score</label>

      <input type='radio' name='score' id='score-radio-input' disabled='disabled' data-theme='d' />
      <label id='score' for='score-radio-input' data-theme='d'><%= locals.map.score %></label>
    </fieldset>

	<fieldset data-role='controlgroup' data-type='horizontal' style='float:right;'>
      <input type='radio' name='wisdom' id='wisdom-radio-label' disabled='disabled' data-theme='d' />
      <label for='wisdom-radio-label' data-theme='d'>Wisdom</label>

      <input type='radio' name='wisdom' id='wisdom-radio-input' disabled='disabled' data-theme='d' />
      <label for='wisdom-radio-input' data-theme='d'><%- player.wisdom %></label>
    </fieldset>

	<fieldset data-role='controlgroup' data-type='horizontal' style='float:right;'>
      <input type='radio' name='moves' id='moves-radio-label' disabled='disabled' data-theme='d' />
      <label for='moves-radio-label' data-theme='d'>Moves</label>

      <input type='radio' name='moves' id='moves-radio-input' disabled='disabled' data-theme='d' />
      <label id='moves' for='moves-radio-input' data-theme='d'><%- locals.map.moves %></label>
    </fieldset>
  </h2>
</div>